@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>

<head>
    <link rel="stylesheet" type="text/css" href="./main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="inner">
            <div class="hor">
                <div></div>
                <div id="galka"></div>
                <div></div>
            </div>
            <div class="hor">
                <div></div>
                <div class="buttonpressed">^</div>
                <div></div>
            </div>
            <div class="hor">
                <div class="buttonpressed"><</div>
                <div></div>
                <div class="buttonpressed">></div>
            </div>
            <div class="hor">
                <div></div>
                <div class="buttonpressed">.</div>
                <div></div>
            </div>
            <div class="hor2">
                <input id="asd"/>
            </div>
@*            <div class="hor2">
                <label>17 <input id="f1" type="text" value="1" /></label><br />
                <label>22 <input id="f2" type="text" value="0" /></label><br />
                <label>23 <input id="f3" type="text" value="0" /></label><br />
                <label>24 <input id="f4" type="text" value="0" /></label><br />
                <label>MS <input id="f5" type="text" value="100" /></label><br />
                <div id="savebut">ОК</div>
            </div>*@
        </div>
    </div>
    <script src="./jquery.js"></script>
    <script src="./main.js"></script>
</body>
</html>
